body {
  background: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
}

a{
  color: #7c73e6;
  font-size: 18px;
  font-weight: 400px;
}
.weather-app {
  display: block;
  margin: 45px auto;
  background-color: #ffe9e3; 
  padding: 30px;
  max-width: 600px;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
 
}
.search-input {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 60%;
}
.search-button {
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #7c73e6;
  transition: all 200ms ease-in-out;
  color: #fafafa;
  font-weight: 500px;
}
.search-button:hover {
  background-color: #c4c1e0;
}

.weather-app-details{
  font-size: 16px;
   color: rgba(39, 33, 66, 0.4);
  line-height: 18px;
  font-weight: 500;
}
  
.weather-app-data{

  display: flex;
  justify-content: space-between;
}
strong{
  color: #7c73e6;
}
.current-temperature{

font-size: 60px;
line-height: 88px;
font-weight: bold;

}
footer{
  border-top: 1px solid #dddddf;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6)
}